BODY
{
	color: #000000;
	background-color: white;
	font-family: Verdana;
	margin-left: 0px;
	margin-top: 0px;
	font-size: 10pt;
}
TABLE
{
	font-family: Verdana;
	border-collapse: collapse;
	font-size: 10pt;
}
TABLE TH
{
	font-family: Verdana;
	font-size: 10pt;
	background-color: #ddddff;
	border: 1px silver solid;
	padding: 5px;
	text-align: left;
}
TABLE TD
{
	border: 1px silver solid;
	padding: 5px;
}
#content
{
	margin-left: 30px;
	font-size: .70em;
	padding-bottom: 2em;
}
A:link
{
	color: #336699;
	font-weight: bold;
	text-decoration: underline;
}
A:visited
{
	color: #6699cc;
	font-weight: bold;
	text-decoration: underline;
}
A:active
{
	color: #336699;
	font-weight: bold;
	text-decoration: underline;
}
A:hover
{
	color: #cc3300;
	font-weight: bold;
	text-decoration: underline;
}
P
{
	color: #000000;
	margin-top: 0px;
	margin-bottom: 12px;
	font-family: Verdana;
	font-size: 10pt;
}
pre
{
	background-color: #e5e5cc;
	padding: 5px;
	font-family: Courier New;
	font-size: 10pt;
	margin-top: 5px;
	border: 1px #f0f0e0 solid;
}
h2
{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	border-top: 1px solid #003366;
	margin-left: -15px;
	color: #003366;
}
h3
{
	font-size: 10pt;
	color: #000000;
	margin-left: -15px;
	margin-top: 10px;
	margin-bottom: 2px;
}
ul
{
	font-size: 10pt;
	margin-top: 10px;
	margin-left: 20px;
}
ol
{
	margin-top: 10px;
	margin-left: 20px;
}
li
{
	margin-top: 5px;
	color: #000000;
}
font.value
{
	color: blue;
	font: bold;
}
font.key
{
	color: green;
	font: bold;
}
font.error
{
	color: red;
	font: bold;
}
.heading1
{
	color: #ffffff;
	font-family: Tahoma;
	font-size: 26px;
	font-weight: normal;
	background-color: #003366;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -30px;
	padding-top: 10px;
	padding-bottom: 3px;
	padding-left: 15px;
	width: 105%;
}
.intro
{
	margin-left: -15px;
}
.fixedWidth
{
	font-family: Courier New;
	color: #003366;
}

INPUT
{
    background-color: #ddddff;
    border: 1px solid #ddddff;
    border-radius: 4px 4px 4px 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    cursor: pointer;
}
INPUT:hover
{
    background-color: #cc3300;
    cursor: pointer;
}
INPUT.Selected
{
    background-color: #336699;
    border: 1px solid #336699;
    color: White;
    cursor: default;
}
INPUT.Selected:hover
{
    background-color: #336699;
    cursor: default;
}
