<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Inflectra.SampleApplications.LibraryInformationSystem.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />

    <pages theme="DefaultTheme" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />

    <membership defaultProvider="ReadOnlyXmlMembershipProvider">
      <providers>
        <clear/>
        <add name="ReadOnlyXmlMembershipProvider" type="Inflectra.SampleApplications.LibraryInformationSystem.Web.Classes.ReadOnlyXmlMembershipProvider" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <!-- Authorization-->
  <location path="Authors.aspx">
    <system.web>
      <authorization>
        <deny users="?, borrower"/>
        <allow users="librarian"/>
      </authorization>
    </system.web>
  </location>
  <location path="Books.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="borrower, librarian"/>
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <Inflectra.SampleApplications.LibraryInformationSystem.Web.Properties.Settings>
      <setting name="WcfBaseUrl" serializeAs="String">
        <value />
      </setting>
    </Inflectra.SampleApplications.LibraryInformationSystem.Web.Properties.Settings>
  </applicationSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>
